# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Output images (large files, don't commit)
data/outputs/

# Temp extraction folders
_pptx_extract/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log
